// Colors
$bg-dark: #0a192f;
$bg-light: #112240;
$mint-neon: #64ffbc;
$text-main: #ccd6f6;
$text-dim: #767f98;
$error: #ff4d4d;
$neon-shadow: 0 0 10px rgba(100, 255, 218, 0.3);

// Fonts
$font-main: "Inter", sans-serif;

$container-width: 1300px;