@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: $mint-neon $bg-dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-main;
  background-color: $bg-dark;
  color: $text-main;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: $mint-neon;
  text-shadow: $neon-shadow;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $bg-dark;
}

::-webkit-scrollbar-thumb {
  background: $mint-neon;
  border-radius: 10px;
  border: 3px solid $bg-dark;

  &:hover {
    cursor: pointer;
  }
}

img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
