@use '../styles/variables' as *;

.scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: rgba($bg-light, 0.8);
  border: 1px solid $mint-neon;
	transform: translateY(0);
  color: $mint-neon;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: $neon-shadow;

  &.show { opacity: 1; }
  &:hover { transform: translateY(-5px); background: $mint-neon; color: $bg-dark; }
}